name: Buwa
description: Sexy and beautiful wallpapers for your Android-powered device!
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ">=2.7.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  wallpaper_manager: ^1.0.10
  flutter_cache_manager: ^1.1.3
  loading_animations: ^2.2.0
  dio: ^3.0.10
  flutter_localizations:
    sdk: flutter
  intl: any
dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  generate: true
  uses-material-design: true
  fonts:
    - family: Lobster
      fonts:
        - asset: assets/fonts/Lobster.ttf
